@font-face {
    font-family: 'Artful Beauty';
    src: url('ArtfulBeauty.woff2') format('woff2'),
        url('ArtfulBeauty.woff') format('woff'),
        url('ArtfulBeauty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

